.DS_Store
.env*
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__
.env_file

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

#git token
#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

# Direnv
.envrc
.direnv
venv

.github/**
